<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Conoce nuestras promociones imperdibles en cafetería, postres, bebidas y acompañamientos para tu desayuno, merienda o simplemente darte un gusto">
    <meta name="keywords" content="promociones,café,postres,bebidas,jugo de frutas,tartas,lemmon pie,latte,medialunas,donas,merienda,desayuno">
    <link rel="shortcut icon" href="../img/favicon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Promociones</title>
  </head>
  <body>
    <!-- nav-->
    <nav class="navbar navbar-expand-md navbar-light " id="botonera">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
          <img src="../img/logo.png" alt="Logo de la cafeteria el cual dice el nombre coffe house">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"aria-current="page" href="nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="promociones.html">Promociones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="sucursales.html">Sucursales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="contacto.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--ends nav-->
   
  <main>
    <h2 class="titulos fs-4 mt-5 mb-3 text-center">Amplía tu menú con nuestras ofertas</h2>
    <div class="container d-flex justify-content-center my-5">

      <section class="row ">
        <h3 class="titulos fs-4">Bebidas</h3>
          <div class="col-sm-12 col-md-6 col-lg-3">          
            <img class="w-75 efecto" src="../img/jugo.png" alt="Vaso de jugo de frutal a eleccion entre naranja, frutilla, durazno y uva">
            <p class="textoComun fs-5 text-start my-2">Jugo </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">          
            <img class="w-75 efecto " src="../img/batido.png" alt="Vaso de batido a base de leche de multiples sabores como frutilla, vainilla, chocolate y dulce de leche">
            <p class="textoComun fs-5 text-start my-2">Licuados </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">          
            <img class="w-75 efecto" src="../img/americano.png" alt="1 taza de café americano o mas bien conocido como café negro">
            <p class="textoComun fs-5 text-start my-2">Americano </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">          
            <img class="w-75 efecto" src="../img/latte.png" alt="1 taza de café latte la que contiene 60% de leche con espuma y el resto de café negro">
            <p class="textoComun fs-5 text-start my-2">Latte </p>
          </div>
      </section>      
    </div>
    <div class="container d-flex justify-content-center my-5">
      <section class="row ">
        <h3 class="titulos fs-4">Acompañamientos</h3>
          <div class="col-sm-12 col-md-6 col-lg-3">          
            <img class="w-75 efecto" src="../img/bocata.png" alt="Bocadillo, trozo de pan con tomate, lechuga, jamón, queso y mayonesa">
            <p class="textoComun fs-5 text-start my-2">Bocatas </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">          
            <img class="w-75 efecto " src="../img/dona.png" alt="donas sabor vainilla gaseadas con chocolate">
            <p class="textoComun fs-5 text-start my-2">Donas </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">          
            <img class="w-75 efecto" src="../img/brownie.png" alt="brownie de chocolate negro con trozos de nueces">
            <p class="textoComun fs-5 text-start my-2">Brownies</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">          
            <img class="w-75 efecto" src="../img/tarta.png" alt="tarta con capas de bizcocho suave sabor chocolate y frutilla, encima contiene trozos de fruta">
            <p class="textoComun fs-5 text-start my-2">Tarta</p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3">          
            <img class="w-75 efecto" src="../img/tarta2.png" alt="tarta lemon pie, tarta sabor limon von base de galleta y cubierto de merengue ">
            <p class="textoComun fs-5 text-start my-2">Lemmon pie</p>
          </div>
      </section>      
    </div>
    </main>



   <footer class="bg-li-brown"> <!-- Comienza el footer -->
      <div class="w-100 row py-4"> 
          <div class="col-sm-12 col-md-4 ">
              <figure class="container">
                  <a class="row align-items-center justify-content-center" href="../index.html">
                      <img class="col w-25 " src="../img/logo2.png" alt="Logo de la cafeteria el cual dice el nombre coffe house">
                  </a>
              </figure>
          </div>
          <div class="col-sm-12 col-md-4">
              <h3 class="textoBlanco fs-4 text-center">SOBRE NOSOTROS</h3>
              <p class="textoComun text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, facilis!</p>
          </div>
          <div class="col-sm-12 col-md-4 ">
              <h3 class="textoBlanco  fs-4">SIGUENOS</h3>
              <div>
                <a  href="https://www.facebook.com/">
                  <img class="chico my-2 mx-3" src="../img/facebook.png" alt="Link a nuestro facebook a travez de su logo">
                </a>
                <a  href="https://www.instagram.com/">
                  <img class="chico my-2 mx-3 " src="../img/instagram.png" alt="Link a nuestro instagram a travez de su logo" >
                </a>
              </div>
          </div>
      </div>     
   </footer> <!-- termina el footer -->


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>