<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Conoce nuestras sucursales para que puedas disfrutar de tu merienda cerca de donde estés">
    <meta name="keywords" content="sucursales,merienda,cafetería,postres,cerca de ti,comida,desayuno,date un gusto">
    <link rel="shortcut icon" href="../img/favicon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Nuestras sucursales</title>
  </head>
  <body>
    <!-- nav-->
    <nav class="navbar navbar-expand-md navbar-light " id="botonera">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
          <img src="../img/logo.png" alt="Logo de la cafeteria el cual dice el nombre coffe house">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="../index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="promociones.html">Promociones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="sucursales.html">Sucursales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="contacto.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--ends nav-->
    <main>
      <section class="row d-flex justify-content-center">
        <div class="col-sm-12 col-md-8">
          <h2 class="titulos fs-2 my-3 text-center">Nuestras Sucursales</h2>
          <p class="textoComun fs-6 my-3 mx-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, quos, iure libero consequatur minima atque eligendi aperiam soluta, eveniet sapiente architecto. Tenetur delectus corrupti mollitia eum, repellendus. Earum, corporis, sint!</p>
        </div>

      </section >
      <section class="row bg-li-brown d-flex justify-content-center">
        <div class="col-12 textoComun text-center">
          <h2 class="titulos2 fs-4 my-3 text-center">horarios de atencion</h2>
          <p class="textoComun"> Lunes a viernes</p>
          <p class="textoComun"> De 10hs a 18 hs</p>
        </div>
        
      </section>


        <div class="row d-flex align-items-center mx-3 my-3 ">
          <section class="col-sm-12 col-md-6 col-lg-3">
            <img class="w-75" src="../img/sucursal1.jpg" alt="imagen que muestra la fachada de nuestra sucursal ubicada en xxx número 11">
            <h3 class="titulos fs-5">Sucursal 1 </h3>
            <p class="textoComun">Calle xxx número 11</p>
            <iframe class="w-75 h-50" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.211481449395!2d-56.16342690839619!3d-34.91462415551372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81a1f1fecc2d%3A0x33363205d0e49ba8!2sSupermercado%20Ta%20Ta!5e0!3m2!1ses-419!2suy!4v1654658832062!5m2!1ses-419!2suy" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </section>
          <section class="col-sm-12 col-md-6 col-lg-3">
            <img class="w-75" src="../img/sucursal2.jpg" alt="imagen que muestra la fachada de nuestra sucursal ubicada en xxx número 43">
            <h3 class="titulos fs-5">Sucursal 2 </h3>
            <p class="textoComun">Calle xxx número 43</p>
            <iframe class="w-75 h-50" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.211481449395!2d-56.16342690839619!3d-34.91462415551372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81a1f1fecc2d%3A0x33363205d0e49ba8!2sSupermercado%20Ta%20Ta!5e0!3m2!1ses-419!2suy!4v1654658832062!5m2!1ses-419!2suy" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </section>
          <section class="col-sm-12 col-md-6 col-lg-3">
            <img class="w-75" src="../img/sucursal3.jpg" alt="imagen que muestra la fachada de nuestra sucursal ubicada en xxx número 34">
            <h3 class="titulos fs-5">Sucursal 3 </h3>
            <p class="textoComun">Calle xxx número 34</p>
            <iframe class="w-75 h-50" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.211481449395!2d-56.16342690839619!3d-34.91462415551372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81a1f1fecc2d%3A0x33363205d0e49ba8!2sSupermercado%20Ta%20Ta!5e0!3m2!1ses-419!2suy!4v1654658832062!5m2!1ses-419!2suy" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </section>
          <section class="col-sm-12 col-md-6 col-lg-3">
            <img class="w-75" src="../img/sucursal4.jpg" alt="imagen que muestra la fachada de nuestra sucursal ubicada en xxx número 17 ">
            <h3 class="titulos fs-5">Sucursal 4 </h3>
            <p class="textoComun">Calle xxx número 17</p>
            <iframe class="w-75 h-50" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.211481449395!2d-56.16342690839619!3d-34.91462415551372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f81a1f1fecc2d%3A0x33363205d0e49ba8!2sSupermercado%20Ta%20Ta!5e0!3m2!1ses-419!2suy!4v1654658832062!5m2!1ses-419!2suy" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </section>
        </div>
    </main>
   




  <footer class="bg-li-brown"> <!-- Comienza el footer -->
      <div class="w-100 row py-4"> 
          <div class="col-sm-12 col-md-4 ">
              <figure class="container">
                  <a class="row align-items-center justify-content-center" href="../index.html">
                      <img class="col w-25 " src="../img/logo2.png" alt="Logo de la cafeteria el cual dice el nombre coffe house">
                  </a>
              </figure>
          </div>
          <div class="col-sm-12 col-md-4">
              <h3 class="textoBlanco fs-4 text-center">SOBRE NOSOTROS</h3>
              <p class="textoComun text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, facilis!</p>
          </div>
          <div class="col-sm-12 col-md-4 ">
              <h3 class="textoBlanco  fs-4">SIGUENOS</h3>
              <div>
                <a  href="https://www.facebook.com/">
                  <img class="chico my-2 mx-3" src="../img/facebook.png" alt="Link a nuestro facebook a travez de su logo">
                </a>
                <a  href="https://www.instagram.com/">
                  <img class="chico my-2 mx-3 " src="../img/instagram.png" alt="Link a nuestro instagram a travez de su logo" >
                </a>
              </div>
          </div>
      </div>     
   </footer> <!-- termina el footer -->



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>